form {
  padding: 60px;
  background: rgb(12, 186, 76);
  background: linear-gradient(90deg, rgba(12, 186, 76, 0.5802696078431373) 0%, rgba(12, 186, 76, 0.2497373949579832) 29%, rgba(0, 224, 255, 0.30575980392156865) 53%, rgba(4, 203, 90, 0.13489145658263302) 76%, rgba(0, 255, 124, 0.5242471988795518) 100%);
  border-radius: 15px;
}

#formulario-contacto .form-block {
  width: 100%;
  margin-bottom: 15px;
}

#formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
}

#formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid grey;
  width: 100%;
  padding: 5px 10px;
  /*No se puede dimensionar el textarea*/
  resize: none;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}





/*Validacion del formulario*/

.formulario-input-error {
  margin-left: 5px;
  font-size: 15px;
  margin-bottom: 0;
  color: black;
  display: none;
}

.formulario-input-error-activo {
  display: block;
}


.form-control-error {
  border: 3px solid rgb(255, 0, 0);
}


.formulario-mensaje-exito {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #119200;
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.ocultar-activo {
  display: block;
}

.button-area {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}